<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
</head>
<body>
    <div th:replace="/WEB-INF/TemplateHTML/header :: header"> </div>

    <div class="col d-flex justify-content-center" th:if="${session.currentUser}">
        <h1 th:text="${'Welcome! '+ session.currentUser.name}" >Welcome! USER </h1>
    </div>
    <div class="col d-flex justify-content-center">
        <div  style="width:500px">
            <p> Wanna search for some crazy iteeemss to buy????</p>
            <div class="input-group mb-3">
                <form action="Auctions"class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Item Name" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
        <div  style="width:500px">
            <p> You are a seller?? Manage here your auctions</p>
            <div class="input-group mb-3">
                <form action="SellerPage" class="form-inline my-2 my-lg-0">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Seller Page></button>
                </form>
            </div>
        </div>
    </div>
    <div class="col justify-content-center">
        <h1>WINNED AUCTIONS</h1>
        <div class="card mr-3 ml-3 mt-3">
            <h5 class="card-title text-center mt-2">Those list contains all the auctions you win!!!</h5>
            <div id="closed-owned-auctions">
                <table class="table">
                    <tr th:each="a : ${winned}">
                        <td>
                            <div class="col">
                                <div class="row">
                                    <a th:href="'Details?auction='+${a.id}"><h5 th:text="${a.getSalesItem().getName()} + ' (id: '+ ${a.id}+')   '"></h5></a>
                                </div>
                                <div class="row">
                                    <h6>Max Offert: </h6><p th:text="${a.getMaxOffer().getOffer()} + ' $'"></p>
                                </div>
                                <div class="row" th:text= "${a.calculateExpiringTime()}">
                                </div>
                                <div class="row" >
                                    <h6>Shipping address: </h6><p th:text= " ' ' +${a.getAddress().getAddress()} + ' ' + ${a.getAddress().getCity()} + ', ' + ${a.getAddress().getCap()} + ' - ' + ${a.getAddress().getCountry()} "></p>
                                </div>
                                <div class="row">
                                    <h6 th:if="${a.isClosed()}==false">You winned the auctions but its not closed by the owner </h6>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


</body>
</html>