<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Display Autions</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Img</th>
        <th>Link</th>
    </tr>
    </thead>
    <tbody>
     <tr th:each="s : ${item}">
         <td th:text="${s.name}"></td>
         <td th:text="${s.description}"></td>
         <td><img th:src="@{${'/UploadFolder/'+ s.pathImage}}" width="100px" height="100px"/></td>
    </tr>
    </tbody>
</table>
</body>
</html>