<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
</head>
<body>
    <div th:replace="/WEB-INF/TemplateHTML/header :: header"> </div>

    <div class="col d-flex justify-content-center" th:if="${session.currentUser}">
        <h1 th:text="${'Welcome! '+ session.currentUser.name}" >Welcome! USER </h1>
    </div>
    <div class="col d-flex justify-content-center">
        <div  style="width:500px">
            <p> Wanna search for some crazy iteeemss to buy????</p>
            <div class="input-group mb-3">
                <form action="Auctions"class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Item Name" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
        <div  style="width:500px">
            <p> You are a seller?? Manage here your auctions</p>
            <div class="input-group mb-3">
                <form action="Create" class="form-inline my-2 my-lg-0">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Seller Page></button>
                </form>
            </div>
        </div>
    </div>
    <div class="col justify-content-center">
        <h1>WINNED AUCTIONS</h1>
        <p>Auction1</p><br>
        <p>Auction2</p><br>
        <p>Auction3</p><br>
    </div>


</body>
</html>